node-red/.flows.json.backup
[{"id":"e869e2d2.c1b93","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"976beaa3.991358","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"26c849f.2da59b6","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"2806e3bc.cd97cc","type":"ui_group","z":"","name":"状态","tab":"26c849f.2da59b6","order":1,"disp":true,"width":"12","collapse":false},{"id":"2ff6137e.122eac","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ca151f1f.29347","type":"ui_group","z":"","name":"功能","tab":"26c849f.2da59b6","order":2,"disp":true,"width":"12","collapse":false},{"id":"f47d2ce4.dcce4","type":"ui_group","z":"","name":"控制","tab":"26c849f.2da59b6","order":3,"disp":true,"width":"12","collapse":false},{"id":"e1c6d34b.bd9bb","type":"mqtt in","z":"e869e2d2.c1b93","name":"","topic":"openbot_status","qos":"2","datatype":"auto","broker":"976beaa3.991358","x":140,"y":100,"wires":[["5f36ba94.814484"]]},{"id":"ce1ba0a3.df167","type":"mqtt out","z":"e869e2d2.c1b93","name":"","topic":"openbot_command","qos":"","retain":"","broker":"976beaa3.991358","x":710,"y":260,"wires":[]},{"id":"5f36ba94.814484","type":"function","z":"e869e2d2.c1b93","name":"","func":"data = msg.payload.split(',');\n// if(data.length === 4){\n//     BATTERY_VOLTAGE = data[0];\n//     LEFT_WHEEL_RPM = data[1];\n//     RIGHT_WHEEL_RPM = data[2];\n//     OBSTACLE = data[3];\n// }\n\n// let status = msg.payload.status;\n// msg.payload = status;\n// if(status.WHEEL_RPM){\n//     let rpm = statis.WHELL_RPM.split(',');\n//     status.LEFT_WHEEL_RPM = rpm[0];\n//     status.RIGHT_WHEEL_RPM = rpm[1];\n// }\n// let statusArray = [ status.LOGS,\n//             status.NOISE,\n//             status.NETWORK,\n//             status.USB_CONNECTION, \n//             status.BATTERY_VOLTAGE,\n//             status.LEFT_WHEEL_RPM,\n//             status.RIGHT_WHEEL_RPM,\n//             status.OBSTACLE]\nlet ret = []\ndata.forEach(item => {\n    ret.push({\n        payload: item\n    })\n})\nreturn ret;","outputs":4,"noerr":0,"x":350,"y":100,"wires":[["af82d052.08a54"],["3c58e323.0b481c"],["230c1d9a.128972"],["9d746ff4.0ab9f"]]},{"id":"c09f6f2a.671c6","type":"ui_template","z":"e869e2d2.c1b93","group":"f47d2ce4.dcce4","name":"","order":8,"width":"12","height":"6","format":"<div>W前进, S后退, A左转, D右转, R急停. 若网络比较拥塞将导致控制有所延迟.</div>\n<div>\n左: <div style=\"display:inline;\" id='l_speed'></div>\n右: <div style=\"display:inline;\" id='r_speed'></div>\n</div>\n\n<script>\n    var _scope = scope;\n    var l = 0, r = 0;\n    var oldCmd = 'still';\n    window.addEventListener(\"keydown\", function(event) {\n        var key = event.code;\n        if(key === 'KeyW'){\n            l = r = 192;\n            oldCmd = 'forward';\n        } else if(key === 'KeyS'){\n            l = r = -192;\n            oldCmd = 'backward'\n        } else if(key === 'KeyA'){\n            l = 0; r = 192;\n        } else if(key === 'KeyD'){\n            l = 192; r = 0;\n        } else if(key === 'KeyR'){\n            l = r = 0;\n            oldCmd = 'still'\n        }\n        \n        document.getElementById('l_speed').innerText = l;\n        document.getElementById('r_speed').innerText = r;\n        _scope.send({payload: { driveCmd:{ l ,r } }});\n    }, true);\n    \n    window.addEventListener(\"keyup\", function(event) {\n        var key = event.code;\n        if(key === 'KeyD' || key === 'KeyA'){\n            if(oldCmd === 'forward') l = r = 192;\n            else if(oldCmd === 'backward') l = r = -192;\n            else if(oldCmd === 'still') l = r = 0;\n        }\n        document.getElementById('l_speed').innerText = l;\n        document.getElementById('r_speed').innerText = r;\n        _scope.send({payload: { driveCmd:{ l ,r } }});\n    }, true);\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":120,"y":200,"wires":[["76abd5.c45ad42c"]]},{"id":"76abd5.c45ad42c","type":"range","z":"e869e2d2.c1b93","minin":"-192","maxin":"192","minout":"-1","maxout":"1","action":"clamp","round":false,"property":"payload.driveCmd.l","name":"","x":250,"y":200,"wires":[["6995818e.b1dbf"]]},{"id":"6995818e.b1dbf","type":"range","z":"e869e2d2.c1b93","minin":"-192","maxin":"192","minout":"-1","maxout":"1","action":"clamp","round":false,"property":"payload.driveCmd.r","name":"","x":370,"y":200,"wires":[["ce1ba0a3.df167"]]},{"id":"af82d052.08a54","type":"ui_gauge","z":"e869e2d2.c1b93","name":"","group":"2806e3bc.cd97cc","order":9,"width":"6","height":"5","gtype":"gage","title":"电压","label":"V","format":"{{value}} v","min":0,"max":"16","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":40,"wires":[]},{"id":"3c58e323.0b481c","type":"ui_gauge","z":"e869e2d2.c1b93","name":"","group":"2806e3bc.cd97cc","order":9,"width":"6","height":"5","gtype":"gage","title":"左轮转速","label":"rpm","format":"{{value}} ","min":"-70","max":"70","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":680,"y":80,"wires":[]},{"id":"230c1d9a.128972","type":"ui_gauge","z":"e869e2d2.c1b93","name":"","group":"2806e3bc.cd97cc","order":9,"width":"6","height":"5","gtype":"gage","title":"右轮转速","label":"rpm","format":"{{value}} ","min":"-70","max":"70","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":680,"y":120,"wires":[]},{"id":"9d746ff4.0ab9f","type":"ui_gauge","z":"e869e2d2.c1b93","name":"","group":"2806e3bc.cd97cc","order":9,"width":"6","height":"5","gtype":"gage","title":"避障距离","label":"cm","format":"{{value}} ","min":"0","max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":680,"y":160,"wires":[]},{"id":"768cc31a.1586bc","type":"change","z":"e869e2d2.c1b93","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"command\":\"LOGS\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":260,"wires":[["ce1ba0a3.df167"]]},{"id":"6ec64923.fbf9a8","type":"change","z":"e869e2d2.c1b93","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"command\":\"NOISE\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":300,"wires":[["ce1ba0a3.df167"]]},{"id":"14015819.83bad8","type":"change","z":"e869e2d2.c1b93","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"command\":\"NETWORK\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":340,"wires":[["ce1ba0a3.df167"]]},{"id":"886351e5.c0982","type":"ui_button","z":"e869e2d2.c1b93","name":"","group":"ca151f1f.29347","order":1,"width":0,"height":0,"passthru":false,"label":"切换LOGS","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":260,"wires":[["768cc31a.1586bc"]]},{"id":"7b9875d0.78cbcc","type":"ui_button","z":"e869e2d2.c1b93","name":"","group":"ca151f1f.29347","order":1,"width":0,"height":0,"passthru":false,"label":"切换NOISE","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":300,"wires":[["6ec64923.fbf9a8"]]},{"id":"b9eb2e94.66fb8","type":"ui_button","z":"e869e2d2.c1b93","name":"","group":"ca151f1f.29347","order":1,"width":0,"height":0,"passthru":false,"label":"切换NETWORK","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":340,"wires":[["14015819.83bad8"]]}]