node-red/flows.json
[{"id":"e869e2d2.c1b93","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"976beaa3.991358","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"26c849f.2da59b6","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"2806e3bc.cd97cc","type":"ui_group","z":"","name":"Default","tab":"26c849f.2da59b6","order":1,"disp":false,"width":"6","collapse":false},{"id":"2ff6137e.122eac","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e1c6d34b.bd9bb","type":"mqtt in","z":"e869e2d2.c1b93","name":"","topic":"openbot_status","qos":"2","datatype":"auto","broker":"976beaa3.991358","x":140,"y":220,"wires":[["ad0aef1f.28757","5f36ba94.814484"]]},{"id":"ad0aef1f.28757","type":"debug","z":"e869e2d2.c1b93","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":370,"y":120,"wires":[]},{"id":"ce1ba0a3.df167","type":"mqtt out","z":"e869e2d2.c1b93","name":"","topic":"openbot_command","qos":"","retain":"","broker":"976beaa3.991358","x":890,"y":560,"wires":[]},{"id":"5f36ba94.814484","type":"function","z":"e869e2d2.c1b93","name":"","func":"data = msg.payload.split(',');\n// if(data.length === 4){\n//     BATTERY_VOLTAGE = data[0];\n//     LEFT_WHEEL_RPM = data[1];\n//     RIGHT_WHEEL_RPM = data[2];\n//     OBSTACLE = data[3];\n// }\n\n// let status = msg.payload.status;\n// msg.payload = status;\n// if(status.WHEEL_RPM){\n//     let rpm = statis.WHELL_RPM.split(',');\n//     status.LEFT_WHEEL_RPM = rpm[0];\n//     status.RIGHT_WHEEL_RPM = rpm[1];\n// }\n// let statusArray = [ status.LOGS,\n//             status.NOISE,\n//             status.NETWORK,\n//             status.USB_CONNECTION, \n//             status.BATTERY_VOLTAGE,\n//             status.LEFT_WHEEL_RPM,\n//             status.RIGHT_WHEEL_RPM,\n//             status.OBSTACLE]\nlet ret = []\ndata.forEach(item => {\n    ret.push({\n        payload: item\n    })\n})\nreturn ret;","outputs":4,"noerr":0,"x":370,"y":300,"wires":[["5e08cf2b.c812c"],["9999a4ab.6e61d8"],["326ef4c0.4eb23c"],["821dee23.620c"]]},{"id":"cf7ae8cf.edb068","type":"ui_switch","z":"e869e2d2.c1b93","name":"","label":"LOGS","tooltip":"","group":"2806e3bc.cd97cc","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":610,"y":80,"wires":[["18b27c54.5b8994"]]},{"id":"982f580d.048d38","type":"ui_switch","z":"e869e2d2.c1b93","name":"","label":"NOISE","tooltip":"","group":"2806e3bc.cd97cc","order":6,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":610,"y":120,"wires":[["d4de67f1.02d138"]]},{"id":"164de807.0a0068","type":"ui_switch","z":"e869e2d2.c1b93","name":"","label":"NETWORK","tooltip":"","group":"2806e3bc.cd97cc","order":8,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":630,"y":160,"wires":[["b37f8645.2f9388"]]},{"id":"d8d05fc4.3d011","type":"ui_switch","z":"e869e2d2.c1b93","name":"","label":"USB_CONNECTION","tooltip":"","group":"2806e3bc.cd97cc","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"ESTABLISHED","onvalueType":"str","onicon":"","oncolor":"","offvalue":"CLOSED","offvalueType":"str","officon":"","offcolor":"","x":660,"y":200,"wires":[[]]},{"id":"5e08cf2b.c812c","type":"ui_numeric","z":"e869e2d2.c1b93","name":"","label":"BATTERY_VOLTAGE","tooltip":"","group":"2806e3bc.cd97cc","order":1,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":1,"x":660,"y":240,"wires":[[]]},{"id":"9999a4ab.6e61d8","type":"ui_numeric","z":"e869e2d2.c1b93","name":"","label":"LEFT_WHEEL_RPM","tooltip":"","group":"2806e3bc.cd97cc","order":2,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":1,"x":660,"y":280,"wires":[[]]},{"id":"326ef4c0.4eb23c","type":"ui_numeric","z":"e869e2d2.c1b93","name":"","label":"RIGHT_WHEEL_RPM","tooltip":"","group":"2806e3bc.cd97cc","order":3,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":1,"x":660,"y":320,"wires":[[]]},{"id":"821dee23.620c","type":"ui_numeric","z":"e869e2d2.c1b93","name":"","label":"OBSTACLE","tooltip":"","group":"2806e3bc.cd97cc","order":4,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":1,"x":630,"y":360,"wires":[[]]},{"id":"18b27c54.5b8994","type":"change","z":"e869e2d2.c1b93","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"command\":\"LOGS\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":80,"wires":[["d94a34f7.fbca68"]]},{"id":"d4de67f1.02d138","type":"change","z":"e869e2d2.c1b93","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"command\":\"NOISE\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":120,"wires":[["d94a34f7.fbca68"]]},{"id":"b37f8645.2f9388","type":"change","z":"e869e2d2.c1b93","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"command\":\"NETWORK\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":160,"wires":[["d94a34f7.fbca68"]]},{"id":"d94a34f7.fbca68","type":"link out","z":"e869e2d2.c1b93","name":"","links":["a9f87463.d62318"],"x":995,"y":120,"wires":[]},{"id":"a9f87463.d62318","type":"link in","z":"e869e2d2.c1b93","name":"","links":["d94a34f7.fbca68"],"x":75,"y":560,"wires":[["ce1ba0a3.df167"]]},{"id":"c09f6f2a.671c6","type":"ui_template","z":"e869e2d2.c1b93","group":"2806e3bc.cd97cc","name":"","order":8,"width":"6","height":"6","format":"l: <p id='l_speed'></p>\nr: <p id='r_speed'></p>\n<script>\n    var _scope = scope;\n    var l = 0, r = 0;\n    var oldCmd = 'still';\n    window.addEventListener(\"keydown\", function(event) {\n        var key = event.code;\n        if(key === 'KeyW'){\n            l = r = 192;\n            oldCmd = 'forward';\n        } else if(key === 'KeyS'){\n            l = r = -192;\n            oldCmd = 'backward'\n        } else if(key === 'KeyA'){\n            l = 0; r = 192;\n        } else if(key === 'KeyD'){\n            l = 192; r = 0;\n        } else if(key === 'KeyR'){\n            l = r = 0;\n            oldCmd = 'still'\n        }\n        \n        document.getElementById('l_speed').innerText = l;\n        document.getElementById('r_speed').innerText = r;\n        _scope.send({payload: { driveCmd:{ l ,r } }});\n    }, true);\n    \n    window.addEventListener(\"keyup\", function(event) {\n        var key = event.code;\n        if(key === 'KeyD' || key === 'KeyA'){\n            if(oldCmd === 'forward') l = r = 192;\n            else if(oldCmd === 'backward') l = r = -192;\n            else if(oldCmd === 'still') l = r = 0;\n        }\n        document.getElementById('l_speed').innerText = l;\n        document.getElementById('r_speed').innerText = r;\n        _scope.send({payload: { driveCmd:{ l ,r } }});\n    }, true);\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":300,"y":500,"wires":[["76abd5.c45ad42c"]]},{"id":"76abd5.c45ad42c","type":"range","z":"e869e2d2.c1b93","minin":"-192","maxin":"192","minout":"-1","maxout":"1","action":"clamp","round":false,"property":"payload.driveCmd.l","name":"","x":500,"y":500,"wires":[["6995818e.b1dbf"]]},{"id":"6995818e.b1dbf","type":"range","z":"e869e2d2.c1b93","minin":"-192","maxin":"192","minout":"-1","maxout":"1","action":"clamp","round":false,"property":"payload.driveCmd.r","name":"","x":650,"y":500,"wires":[["ce1ba0a3.df167"]]}]