node-red/flows.json
[{"id":"e869e2d2.c1b93","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"976beaa3.991358","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e1c6d34b.bd9bb","type":"mqtt in","z":"e869e2d2.c1b93","name":"","topic":"openbot_state","qos":"2","datatype":"auto","broker":"976beaa3.991358","x":240,"y":100,"wires":[["ad0aef1f.28757"]]},{"id":"ad0aef1f.28757","type":"debug","z":"e869e2d2.c1b93","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":140,"wires":[]},{"id":"ce1ba0a3.df167","type":"mqtt out","z":"e869e2d2.c1b93","name":"","topic":"openbot_cmd","qos":"","retain":"","broker":"976beaa3.991358","x":610,"y":280,"wires":[]},{"id":"c5a23182.fa1f8","type":"inject","z":"e869e2d2.c1b93","name":"","topic":"","payload":"{\"driveCmd\":{\"l\":0,\"r\":0}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":260,"wires":[["ce1ba0a3.df167"]]}]